html, body {
    height: 100%;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 200px;
    opacity: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    display: flex;
    flex-direction: column;
    gap: 24px;
    user-select: none;
    padding: 8px;
}

.line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.word {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    padding: 0 10px;
    border: solid 1px black;
    cursor: grab;
    background-color: white;
}

.perfect {
    background-color: lightblue;
}

.nocigar {
    background-color: #FED8B1;
}

.source {
    border-color: lightsalmon;
}

img {
    visibility: hidden;
}

dialog {
    width: 400px;
    margin: 20px;
    padding: 8px;
}

dialog p {
    margin: 8px 0;
}

dialog h1 {
    text-align: center;
}

dialog .buttons {
    text-align: center;
}

dialog .copied {
    text-align: center;
    color: green;
    visibility: hidden;
}